pandas
scikit-learn==1.5.2
numpy==1.26.4
fastapi
uvicorn
jinja2
python-multipart
mlflow
dvc
dvc-s3
xgboost
lightgbm
catboost
optuna
apache-airflow
imblearn
python-dotenv
dill
PyYAML
pymongo
plotly
evidently==0.4.30
boto3
mypy-boto3-s3

-e .